.header-section {
  background-color: #4c7031;
  height: 150px;
}

.middle-section {
  background-color: white;
  height: 600px;
}

.footer-section {
  background-color: #4c7031;
  height: 150px;
}

body,
html {
}
